@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
}

/* HeroPage.css */

.main_container {
  position: relative;
  background-color: #000;
}

.image_container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image_container img {
  width: 50%;
  height: 50%;
  margin-left: 50%; /* Adjust the margin value as per your preference */
}

.content_container {
  position: absolute;
  top: 50%;
  padding-left: 4rem;
  transform: translateY(-50%);
  text-align: left;
  color: #fff;
  width: 55%;
}

.content_container h2 {
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  color: transparent;
  -webkit-text-stroke: 0.6px white;
  margin-bottom: 20px;
  font-weight: 700;
}

.connect_btn {
  padding: 12px 20px;
  font-size: 18px;
  background-color: #47127b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

.connect_btn:hover {
  background-color: white;
  color: #47127b;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  /* Styles for devices with a maximum width of 768px */
  .image_container img {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .content_container {
    position: static;
    padding-left: 2rem;
    width: 100%;
    text-align: center;
  }

  .content_container h2 {
    font-size: 40px;
  }

  .connect_btn {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  /* Styles for devices with a maximum width of 480px */
  h2 {
    font-size: 32px;
  }

  .connect_btn {
    font-size: 14px;
  }
}




h1 {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  max-width: 400px;
  width: 100%;
  height: 50px;
  font-size: 3.5rem;
}

.main-box {
  padding: 4rem;
  height: 100vh;
  
}

.children-box {
  background-color: black;
  height: 100%;
  z-index: -10;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.main-font {
  color: #ffff;
  width: 60%;
  font-family: 'Poppins', sans-serif;
  /* font-weight: 700 !important; */
  font-size: 2.6rem !important;
  margin-bottom: 2rem !important;
  font-weight: 600 !important;
}

.quote-btn{
  margin-top: 2rem;
  background-color: #47127b !important;
  width: 13rem;
  height: 3rem;
  font-size: 1rem !important;
  font-family: 'Lato', sans-serif;
}

/* wedo section */

.box-container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  margin: 1rem;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
  margin: 1rem;
}

@media (max-width: 768px) {
  .box {
    width: 100%;
  }
}




.wedo {
  font-size: 3rem !important;
  font-weight: 700 !important;
  text-align: center;
  font-family: 'Lato', sans-serif !important;
}

.wedo-main {
  padding: 2rem ;
  background-color: white;
  color: black;
}

.wedo-main-heading {
  margin-bottom: 2rem;
  font-weight: 700 !important;
}

.wedo-para {
  text-align: center;
  padding: 1rem 10rem 0 10rem;
}

.wedo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wedo-card {
  width: 300px;
  height: 200px;
  background-color: #f0f0f0;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .wedo-card {
    width: 100%;
  }
}

.wedo-list {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  
}

.wedo-list-heading {
  margin-bottom: 2rem !important;
  font-weight: 700 !important;
  transition: color 0.5s;
  color: black;
  font-family: 'Poppins' , sans-serif !important;
}

.wedo-list-heading:hover {
  cursor: pointer;
  animation: colorChange 1s infinite alternate;
}

@keyframes colorChange {
  0% {
    color: #000;
  }
  20% {
    color: #3e294a;
  }
  40% {
    color: #392744;
  }
  100% {
    color: #47127b;
  }
}

.stack-logo-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.sub-stack {
  /* background-color: black; */
  color: #47127b;
  font-size: 1.6rem;
  padding: 2rem;
}

.main-stack {
  background-color: black;
  margin: 4rem;
  border-radius: 10px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clients-heading {
  font-size: 2.7rem;
  font-weight: 600;
  padding-top: 2rem;
  color: white;
  font-family: 'Lato' , sans-serif;
}

.clients-para {
  width: 80%;
  font-size: 1.25rem;
  text-align: left;
  color: white;
  font-family: 'Poppins' , sans-serif;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  /* Styles for devices with a maximum width of 768px */
  .sub-stack {
    font-size: 1.4rem;
    padding: 1.5rem;
  }

  .clients-heading {
    font-size: 2.2rem;
  }

  .clients-para {
    width: 90%;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 480px) {
  /* Styles for devices with a maximum width of 480px */
  .main-stack {
    margin: 2rem;
  }

  .clients-heading {
    font-size: 2rem;
    padding-top: 1.5rem;
  }

  .clients-para {
    width: 95%;
    font-size: 1.4rem;
  }
}

.nav-heading {
  font-size: 4rem;
}

.main-nav {
  background-color: black;
  
}

.closeIcon {
  /* background-color: black; */
  margin-left: auto; 
  margin-right: 0px;
  float: right;
  padding: 2rem;
}

.nav-items {
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: black; */
  font-size: 4rem;
  transition: opacity 0.8s ease-out;
  /* margin-top: -2px; */
}



/*========= mediaqueries ========== */

@media only screen and (max-width: 480px) {

  .wedo {
      font-size: 1.7rem !important;
  }

  .sub-stack {
    font-size: 1.5rem !important;
  }

  .bg-video-wrap {
    width: 100vw;
    height: 50%;
  }

  .bg-video-wrap video {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
  }

  h1 {
    font-size: 1rem !important;
  }

  .main-box {
    padding: 2rem;
  }

  .main-font {
    font-size: 1.9rem !important;
    width: 100%;
  }

  .wedo-list-heading {
    font-size: 2rem !important;
    font-weight: 600 !important;
  }

  .title-heading {
    font-size: 2.5rem !important;
  }

  .newsletter {
    width: 100%;
    font-size: 1.5rem;
  }
}

/* clients sections */

.clients_container {
  /* background-color: black; */
  /* display: flex; */
   /* align-items: center; */
}

.cmain_container{
  background-color: black;
  /* margin: 0 4rem 0 4rem; */
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients_logo {
  /* background-color: #47127b; */

}

/* our works section */

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-section {
  margin: 4rem;
}

.work1 {
  background-image: url('./assets/work1.png');
  background-size: cover;
}

.work2 {
  height: 20rem;
  width: 30rem;
  /* background-color: white; */
  background-image: url('./assets/work3.png');
  background-size: contain;
}

.work3 {
  background-repeat: no-repeat;
  height: 5rem;
  width: 10rem;
}

.work4 {
  background-image: url('./assets/work2.png');
  background-size: cover;
}

.explore-more {
  display: flex;
  align-items: center;
}

.explore-head {
  color: white;
  width: 40%;
  text-align: left;
  font-size: 20rem;
  font-family: "Poppins" , sans-serif;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  /* Styles for devices with a maximum width of 768px */
  .main-div {
    height: 15rem;
    width: 20rem;
  }

  .explore-head {
    font-size: 4rem;
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  /* Styles for devices with a maximum width of 480px */
  .work-section {
    margin: 2rem;
  }

  .work1 {
    background-size: contain;
  }

  .work2 {
    height: 15rem;
    width: 20rem;
  }

  .work3 {
    height: 3rem;
    width: 8rem;
  }

  .explore-head {
    font-size: 3rem;
    width: 80%;
  }
}

/* footer css */

.footer {
  background-color: black;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  height: 50vh;
}

.footer-logo {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo-bottom {
  width: 10rem;
  height: auto;
}

.footer-email {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 4rem;
}

.footer__email {
  color: #fff;
  font-size: 3.533em;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  margin-top: 2.6rem;
}

.paragraph-n {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

form {
  display: flex;
  align-items: center;
}

input[type="email"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    height: auto;
  }

  .footer-logo,
  .footer-email {
    margin-right: 0;
    align-items: center;
  }

  .footer-email {
    align-items: center;
    text-align: center;
    margin-top: 2rem;
  }

  .footer__email {
    font-size: 1.7rem;
    margin-top: 1rem;
  }

  .paragraph-n {
    font-size: 0.8rem;
  }
}



/* navbar css */

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease, 
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, 
              right 100ms 1750ms ease,
              margin-top 100ms ease, 
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before{
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease, 
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              right 100ms ease,  
              margin-top 100ms 500ms ease, 
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav{
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  background-color:  #47127b;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav ul li:nth-child(1){
  transition-delay: 200ms;
}
.nav ul li:nth-child(2){
  transition-delay: 150ms;
}
.nav ul li:nth-child(3){
  transition-delay: 100ms;
}
.nav ul li:nth-child(4){
  transition-delay: 50ms;
}
.nav ul li .links{
  font-family: 'Montserrat', sans-serif;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}
.nav ul li .links:hover{
  text-decoration: none;
  color: #000;
}
.nav ul li .links:after{
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #353746;
  opacity: 0.8;
  transition: width 250ms linear;
}
.nav ul li .links:hover:after{
  width: 100%;
}


.menu-icon:checked ~ .nav  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
              transform 250ms ease;
}
.menu-icon:checked ~ .nav ul li:nth-child(1){
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2){
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3){
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4){
  transition-delay: 1640ms;
}



.logo {
	position: absolute;
	top: 30px;
	left: 40px;
	display: block;
	z-index: 11;
	transition: all 250ms linear;
}
.logo img {
	height: 60px;
	width: auto;
	display: block;
}



@media screen and (max-width: 991px) {
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label{
    right: 55px;
  }
  .logo {
    left: 30px;
  }
  .nav{
    right: 30px;
  }
  h1{
    font-size: 9vw;
    -webkit-text-stroke: 2px transparent;
    text-stroke: 2px transparent;
    -webkit-text-fill-color: #000;
    text-fill-color: #000;
    color: #000;
  }
  .nav ul li .links{
    font-size: 8vh;
  }
}
